<?xml version="1.0" encoding="UTF-8"?>
<Context reloadable="true">
    <Resource name="jdbc/livraria" auth="Container"
        type="javax.sql.DataSource"
        maxActive="100" maxIdle="40" maxWait="1000"
        username="postgres"
        password="1234" driverClassName="org.postgresql.Driver"
        url="jdbc:postgresql://localhost:5432/george?autoReconnect=true" />
</Context>